<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex flex-col gap-4">
      <div class="flex items-start justify-between">
        <div class="flex flex-col">
          <mat-card-title>$10,230</mat-card-title>
          <mat-card-subtitle class="leading-5">Expense</mat-card-subtitle>
        </div>
        <span class="bg-light-primary text-primary rounded-sm size-10! flex items-center justify-center">
          <i class="iconify size-6!" data-icon="solar:card-bold-duotone"></i>
        </span>
      </div>
      <apx-chart [series]="expenseChart.series" [chart]="expenseChart.chart" [plotOptions]="expenseChart.plotOptions"
        [tooltip]="expenseChart.tooltip" [stroke]="expenseChart.stroke" [markers]="expenseChart.markers"
        [labels]="expenseChart.labels" [fill]="expenseChart.fill" [legend]="expenseChart.legend"
        [dataLabels]="expenseChart.dataLabels" [colors]="expenseChart.colors"></apx-chart>
    </div>
  </mat-card-content>
</mat-card>