@if (item.navCap) {
  <div class="nav-caption">{{ item.navCap }}</div>
}

@if (!item.navCap && !item.external && !item.twoLines) {
  <a
    mat-list-item
    (click)="onItemSelected(item)"
    [ngClass]="{
      activeMenu: item.route ? router.isActive(item.route, true) : false,
      expanded: expanded,
      activemenu: isChildActive(item),
      disabled: item.disabled,
      'menu-list-item--child': depth > 0,
      'menu-list-item--parent': !!item.children?.length,
    }"
    class="menu-list-item"
    [attr.data-depth]="depth"
  >
    @if (depth === 0 && item.iconName) {
      <span
        class="iconify routeIcon"
        matListItemIcon
        [attr.data-icon]="item.iconName"
      ></span>
    }
    <span
      matListItemTitle
      class="hide-menu menu-label"
      >{{ item.displayName }}</span
    >
    @if (item.chip || item.children?.length) {
      <span
        matListItemMeta
        class="menu-trailing"
      >
        @if (item.chip) {
          <span class="{{ item.chipClass }} item-chip">{{ item.chipContent }}</span>
        }
        @if (item.children?.length) {
          <mat-icon
            class="arrow-icon"
            [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
            >expand_more</mat-icon
          >
        }
      </span>
    }
  </a>
}

@if (!item.navCap && item.external) {
  <mat-list-item
    onClick="window.open('//google.com')"
    class="menu-list-item"
    target="_blank"
  >
    @if (item.iconName) {
      <span
        class="iconify routeIcon"
        matListItemIcon
        [attr.data-icon]="item.iconName"
      ></span>
    }
    <span
      matListItemTitle
      class="hide-menu"
      >{{ item.displayName }}</span
    >
  </mat-list-item>
}

@if (expanded && item.children?.length) {
  <div class="nav-tree">
    @for (child of item.children; track child) {
      <app-nav-item
        [item]="child"
        [depth]="depth + 1"
        [forceExpanded]="forceExpanded"
        (notify)="notify.emit($event)"
      >
      </app-nav-item>
    }
  </div>
}
