<audio id="notificationSound" loop></audio>
<div class="members-request-section">
  <a [routerLink]="['/transactions-requests/money-recharge']">
    <mat-card class="request-card shadow-none" [class.blink]="eventType === 'RECHARGE_REQUEST'">
      <div class="request-card-header bg-light-primary">
        <h3 class="text-primary">{{ 'DEPOSIT_REQUEST' | translate }}</h3>
        <h6 class="text-primary">
          {{ requestsCounter?.recharge_request.unprocessed_count || 0 }}
          /
          {{ requestsCounter?.recharge_request.processed_count || 0 }}
        </h6>
      </div>
    </mat-card>
  </a>

  <a [routerLink]="['/transactions-requests/money-withdraw']">
    <mat-card class="request-card shadow-none" [class.blink]="eventType === 'WITHDRAW_REQUEST'">
      <div class="request-card-header bg-light-error">
        <h3 class="text-error">{{ 'WITHDRAW_REQUEST' | translate }}</h3>
        <h6 class="text-error">
          {{ requestsCounter?.withdraw_request.unprocessed_count || 0 }}
          /
          {{ requestsCounter?.withdraw_request.processed_count || 0 }}
        </h6>
      </div>
    </mat-card>
  </a>

  <a [routerLink]="['/transactions-requests/rolling-money-withdraw']">
    <mat-card class="request-card shadow-none" [class.blink]="eventType === 'WITHDRAW_MONEY_ROLLING_MONEY'">
      <div class="request-card-header bg-light-success">
        <h3 class="text-success">{{ 'WITHDRAW_MONEY_ROLLING_MONEY' | translate }}</h3>
        <h6 class="text-success">
          {{ requestsCounter?.withdraw_rolling_money.unprocessed_count || 0 }}
          /
          {{ requestsCounter?.withdraw_rolling_money.processed_count || 0 }}
        </h6>
      </div>
    </mat-card>
  </a>

  <a [routerLink]="['/transactions-requests/losing-money-withdraw']">
    <mat-card class="request-card shadow-none" [class.blink]="eventType === 'LOSING_MONEY_WITHDRAW'">
      <div class="request-card-header bg-light-secondary">
        <h3 class="text-secondary">{{ 'LOSING_MONEY_WITHDRAW' | translate }}</h3>
        <h6 class="text-secondary">
          {{ requestsCounter?.withdraw_losing_money.unprocessed_count || 0 }}
          /
          {{ requestsCounter?.withdraw_losing_money.processed_count || 0 }}
        </h6>
      </div>
    </mat-card>
  </a>

  <a [routerLink]="['/users-management/membership-requests']">
    <mat-card class="request-card shadow-none" [class.blink]="eventType === 'MEMBERSHIP_REQUEST'">
      <div class="request-card-header bg-light-warning">
        <h3 class="text-warning">{{ 'MEMBERSHIP_REQUEST' | translate }}</h3>
        <h6 class="text-warning">
          {{ requestsCounter?.membership_request.unprocessed_count || 0 }}
          /
          {{ requestsCounter?.membership_request.processed_count || 0 }}
        </h6>
      </div>
    </mat-card>
  </a>

  <a [routerLink]="['/service-centre/customer-inquires']">
    <mat-card class="request-card shadow-none" [class.blink]="eventType === 'CUSTOMER_INQUIRY'">
      <div class="request-card-header bg-light-success">
        <h3 class="text-success">{{ 'CUSTOMER_INQUIRY' | translate }}</h3>
        <h6 class="text-success">
          {{ requestsCounter?.customer_inquiry.unprocessed_count || 0 }}
          /
          {{ requestsCounter?.customer_inquiry.processed_count || 0 }}
        </h6>
      </div>
    </mat-card>
  </a>
</div>
