<div class="relative overflow-hidden h-screen">
  <div class="grid grid-cols-12 gap-3 h-screen">
    <div class="xl:col-span-8 lg:col-span-7 col-span-12 bg-light-primary relative">
      <div class="p-6 h-full">
        <app-branding class="auth-branding"></app-branding>

        <div class="items-center justify-center h-full hidden lg:flex">
          <img
            src="/assets/images/backgrounds/login-bg.svg"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="xl:col-span-4 lg:col-span-5 col-span-12 sm:px-12 p-5">
      <div class="flex lg:h-screen items-center lg:px-3 lg:justify-start justify-center">
        <div class="max-w-[420px] w-full mx-auto">
          <h4 class="font-bold text-2xl m-0">Welcome to Tapeya</h4>
          <span class="block text-sm mt-2">Your Personal Backoffice</span>

          <form
            class="mt-8"
            [formGroup]="form"
            (ngSubmit)="submit()"
          >
            <mat-form-field
              appearance="outline"
              class="w-full"
              color="primary"
            >
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                formControlName="email"
              />
              @if (f['email'].touched && f['email'].invalid) {
                <mat-error>
                  @if (f['email'].errors?.['required']) {
                    Email is required.
                  } @else if (f['email'].errors?.['email']) {
                    Please enter a valid email address.
                  }
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="w-full"
              color="primary"
            >
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="password"
              />
              @if (f['password'].touched && f['password'].invalid) {
                <mat-error>
                  @if (f['password'].errors?.['required']) {
                    Password is required.
                  }
                </mat-error>
              }
            </mat-form-field>

            <div class="flex items-center mb-3">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
            </div>
            <app-submit-button
              [isSubmitting]="loading"
              [disabled]="!form.valid"
              text="Sign In"
              className="w-full"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
