@if (pageInfo?.['title'] !== 'Dashboard') {
  <div class="bg-light-primary rounded p-y-10 p-x-24 m-b-10 overflow-hidden">
    <div class="row">
      <div class="col-lg-7 col-sm-7 col-12">
        <div class="d-flex align-items-center overflow-hidden">
          <ul class="breadcrumb">
            @for (
              url of pageInfo?.['urls'];
              track $index;
              let index = $index,last = $last
            ) {
              @if (!last) {
                <li class="breadcrumb-item" [routerLink]="url.url">
                  @if (url.url) {
                    <a [routerLink]="url.url">{{ url.title | translate }}</a>
                  } @else {
                    {{ url.title | translate }}
                  }
                </li>
                <li class="breadcrumb-item">
                  <i-tabler name="circle-filled" class="icon-8"></i-tabler>
                </li>
              } @else {
                <li class="breadcrumb-item active">{{ url.title | translate }}</li>
              }
            }
          </ul>
        </div>
      </div>
      <div class="col-lg-5 col-sm-7 text-right position-relative breadcrumb-sub-title">
        <h4 class="page-title m-0 f-s-17 f-w-600">
          {{ pageInfo?.['title'] | translate }}
        </h4>
      </div>
    </div>
  </div>
}
