<mat-card class="cardWithShadow m-b-10">
  <mat-card-content class="p-10">
    <form (ngSubmit)="loadHttpData()" [formGroup]="searchForm">
      <div class="row">
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'ID' | translate }}</mat-label>
            <input
              matInput
              formControlName="username"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input
              matInput
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
            <input
              matInput
              formControlName="phone"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'ACCOUNT_NUMBER' | translate }}</mat-label>
            <input
              matInput
              formControlName="bank_account_number"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'IP_ADDRESS' | translate }}</mat-label>
            <input
              matInput
              formControlName="ip"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'STATUS' | translate }}</mat-label>
            <mat-select value="" formControlName="status">
              <mat-option value="">{{ 'ALL' | translate }}</mat-option>
              <mat-option value="block">{{ 'BLOCKED' | translate }}</mat-option>
              <mat-option value="active">{{ 'ACTIVE' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'START_DATE' | translate }}</mat-label>
            <input
              matInput
              formControlName="created_after"
              [matDatepicker]="startDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-2 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'END_DATE' | translate }}</mat-label>
            <input
              matInput
              formControlName="created_before"
              [matDatepicker]="endDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-8 d-flex align-items-center justify-content-end gap-8 m-b-10">
          <button
            mat-stroked-button
            type="button"
            (click)="resetSearchForm()"
          >
            {{ 'CLEAR_SEARCH' | translate }}
          </button>
          <button mat-flat-button type="submit">
            {{ 'SEARCH' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow m-b-10">
  <mat-card-content class="p-10">

    <div class="item">

      <app-table-wrapper
        [isLoading]="isLoading"
      >
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          matSortActive="created_at"
          [matSortDisableClear]="true"
          matSortDirection="desc"
          class="w-100"
        >
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <app-serial-number
              [currentPage]="currentPage"
              [pageSize]="pageSize"
              [i]="i"
              [totalRecords]="totalRecords"
            ></app-serial-number>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header="name" disableClear *matHeaderCellDef>
              {{ 'NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
              [isLink]="true"
              [id]="element.id"
              [displayName]="element.name"
              [userType]="element.type_enum"
            ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell mat-sort-header="username" disableClear *matHeaderCellDef>{{ 'ID' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
              [isLink]="true"
              [id]="element.id"
              [displayName]="element.username"
              [userType]="element.type_enum"
            ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="holdingMoney">
            <th mat-header-cell mat-sort-header="id.holding_money" disableClear *matHeaderCellDef>
              {{ 'HOLDING_MONEY' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-amount-display
                [value]="element.wallet.holding_money"
              ></app-amount-display>
            </td>
          </ng-container>

          <ng-container matColumnDef="points">
            <th mat-header-cell mat-sort-header="id.points" disableClear *matHeaderCellDef>{{ 'POINTS' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <app-amount-display
                [value]="element.wallet.points"
              ></app-amount-display>
            </td>
          </ng-container>

          <ng-container matColumnDef="couponPoints">
            <th mat-header-cell mat-sort-header="id.coupon_points" disableClear *matHeaderCellDef>
              {{ 'COUPON_POINTS' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-amount-display
                [value]="element.wallet.coupon_points"
              ></app-amount-display>
            </td>
          </ng-container>

          <ng-container matColumnDef="moneyDeposit">
            <th mat-header-cell mat-sort-header="id.deposited_money" disableClear *matHeaderCellDef>
              {{ 'MONEY_DEPOSIT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-amount-display
                [value]="element.wallet.deposited_money"
              ></app-amount-display>
            </td>
          </ng-container>

          <ng-container matColumnDef="moneyWithdrawal">
            <th mat-header-cell mat-sort-header="id.withdrawal_money" disableClear *matHeaderCellDef>
              {{ 'WITHDRAWAL_MONEY' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-amount-display
                [value]="element.wallet.withdrawal_money"
              ></app-amount-display>
            </td>
          </ng-container>

          <ng-container matColumnDef="bankName">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'BANK_NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.bank_account?.bank_name"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="accountHolder">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'ACCOUNT_HOLDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.bank_account?.account_holder"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="accountNumber">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'ACCOUNT_NUMBER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.bank_account?.account_number"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'PHONE_NUMBER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.phone"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="userRecommender">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'USER_RECOMMENDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (element.parent_user) {
                {{ element.parent_user.username }} - {{ element.parent_user.ref_code }}
              } @else {
                ----
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="agentRecommender">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'AGENT_RECOMMENDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (element.parent && element.parent.username === '----') {
                ----
              } @else if (element.parent) {
                {{ element.parent.username }} - {{ element.parent.ref_code }}
              } @else {
                ----
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header="status" disableClear *matHeaderCellDef>{{ 'STATUS' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              @if (element.status_enum === 'ACTIVE') {
                <span class="bg-primary rounded-pill f-s-13 p-x-8 p-y-4 text-white f-w-600">{{ element.status_enum | translate }}</span>
              } @else {
                <span class="bg-error rounded-pill f-s-13 p-x-8 p-y-4 text-white f-w-600">{{ element.status_enum | translate }}</span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="lastLoginDomain">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'LAST_LOGIN_DOMAIN' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-url-display
                [url]="element?.last_login?.origin"
              ></app-url-display>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastLoginAt">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'LAST_LOGIN_AT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (element.last_login?.login_at) {
                <app-date-format
                  [value]="element.last_login?.login_at"
                ></app-date-format>
              } @else {
                ----
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="lastWithdrawalMoneyAt">
            <th mat-header-cell mat-sort-header="id.last_withdrawal_money_at" disableClear *matHeaderCellDef>
              {{ 'LAST_WITHDRAWAL_MONEY_AT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (element.wallet.last_withdrawal_money_at) {
                <app-date-format
                  [value]="element.wallet.last_withdrawal_money_at"
                ></app-date-format>
              } @else {
                ----
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="registrationIp">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'REGISTRATION_IP' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at_ip }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cratedAt">
            <th mat-header-cell mat-sort-header="created_at" disableClear *matHeaderCellDef>
              {{ 'CREATED_AT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-date-format
                [value]="element.created_at"
              ></app-date-format>
            </td>
          </ng-container>

          <ng-container matColumnDef="lastLoginIp">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'LOGIN_IP' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="getLoginIpClass(element)">
                @if (element.last_login) {
                  {{ element.last_login.ip_address }}
                } @else {
                  ----
                }
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="level">
            <th mat-header-cell mat-sort-header="level" disableClear *matHeaderCellDef>{{ 'LEVEL' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.level }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </app-table-wrapper>

      <app-paginator
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        [length]="totalRecords || 0"
        (page)="onPaginationChange($event)"
      ></app-paginator>
    </div>

  </mat-card-content>
</mat-card>


<mat-card class="cardWithShadow m-b-0">
  <mat-card-content class="p-10">
    <div class="detail-card">
      <div class="detail-card-inner">
        <div class="detail-card-heading bg-light-primary">
          <h3>{{ 'TABLE_STATISTICS' | translate }}</h3>
        </div>
        <div class="detail-card-row">
          <div class="detail-card-column">
            <span class="field-name">{{ 'TOTAL_COUPON_POINTS' | translate }}</span>
            <span class="field-detail">
              <app-amount-display [value]="sumArray?.coupon_points"></app-amount-display>
            </span>
          </div>
          <div class="detail-card-column">
            <span class="field-name">{{ 'TOTAL_POINTS' | translate }}</span>
            <span class="field-detail">
              <app-amount-display [value]="sumArray?.points"></app-amount-display>
            </span>
          </div>
          <div class="detail-card-column">
            <span class="field-name">{{ 'TOTAL_HOLDING_MONEY' | translate }}</span>
            <span class="field-detail">
              <app-amount-display [value]="sumArray?.holding_money"></app-amount-display>
            </span>
          </div>
          <div class="detail-card-column">
            <span class="field-name">{{ 'TOTAL_DEPOSIT' | translate }}</span>
            <span class="field-detail">
              <app-amount-display [value]="sumArray?.deposited_money"></app-amount-display>
            </span>
          </div>
          <div class="detail-card-column">
            <span class="field-name">{{ 'TOTAL_WITHDRAWALS' | translate }}</span>
            <span class="field-detail">
              <app-amount-display [value]="sumArray?.withdrawal_money"></app-amount-display>
            </span>
          </div>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>
