<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex items-center">
      <img src="assets/images/profile/user-1.jpg" alt="social" width="72" class="rounded-sm" />
      <div class="ms-4">
        <mat-card-title>Super awesome, Vue coming soon! </mat-card-title>
        <mat-card-subtitle class="text-sm font-normal mt-2">22 March, 2025</mat-card-subtitle>
      </div>
    </div>
    <div class="flex items-center justify-between mt-8 pt-3.5">
      <div class="social-chips flex items-center">
        <img src="assets/images/profile/user-2.jpg" width="44" alt="social"
          class="rounded-full -ml-2.5 border-2 border-white first:ml-0" />
        <img src="assets/images/profile/user-3.jpg" width="44" alt="social"
          class="rounded-full -ml-2.5 border-2 border-white" />
        <img src="assets/images/profile/user-4.jpg" width="44" alt="social"
          class="rounded-full -ml-2.5 border-2 border-white" />
        <img src="assets/images/profile/user-5.jpg" width="44" alt="social"
          class="rounded-full -ml-2.5 border-2 border-white" />
      </div>
      <button mat-mini-fab class="text-primary bg-light-primary rounded-sm">
        <i-tabler name="message-2" class="size-5! flex!"></i-tabler>
      </button>
    </div>
  </mat-card-content>
</mat-card>