<app-dialog-wrapper [title]="title">
  <form
    [formGroup]="form"
    (ngSubmit)="save()"
    aria-label="Edit Tournament Team Group"
  >
    <mat-dialog-content>
      <div class="dialog-form">
        <div class="col-span-12">
          <mat-form-field
            appearance="outline"
            class="w-full"
          >
            <mat-label>Group</mat-label>
            <mat-select
              formControlName="group_index"
              placeholder="Select Group"
            >
              @for (g of groupOptions; track g) {
                <mat-option [value]="g">Group {{ g }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions class="dialog-actions">
      <app-ui-button
        type="button"
        [mat-dialog-close]="false"
        variant="secondary"
      >
        Cancel
      </app-ui-button>
      <app-submit-button
        [disabled]="form.invalid"
        [isSubmitting]="isSubmitting"
        text="Save"
        color="primary"
      />
    </mat-dialog-actions>
  </form>
</app-dialog-wrapper>
