<mat-toolbar class="topbar horizontal-topbar">
  <div class="container">
    <div class="d-none d-sm-flex">
      <app-branding></app-branding>
    </div>

    <!-- Mobile Menu -->
    <button
      mat-icon-button
      (click)="toggleMobileNav.emit()"
      class="d-block d-lg-none"
    >
      <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
    </button>
    <!-- --------------------------------------------------------------- -->

    <span class="flex-1-auto"></span>

    <!-- --------------------------------------------------------------- -->
    <!-- members request -->
    <!-- --------------------------------------------------------------- -->
    @if(this.loggedInUser.typeEnum === 'ADMINISTRATOR') {
      <app-members-request></app-members-request>
    }

    <!-- --------------------------------------------------------------- -->
    <!-- language Dropdown -->
    <!-- --------------------------------------------------------------- -->
    <app-language></app-language>

    <!-- --------------------------------------------------------------- -->
    <!-- Customizer button  -->
    <!-- --------------------------------------------------------------- -->
    <app-customizer-button></app-customizer-button>

    <!-- --------------------------------------------------------------- -->
    <!-- profile Dropdown -->
    <!-- --------------------------------------------------------------- -->
    <app-profile></app-profile>
  </div>
</mat-toolbar>
