<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex flex-col gap-4">
      <div class="flex items-start justify-between">
        <div class="flex flex-col">
          <mat-card-title>$16.5k</mat-card-title>
          <mat-card-subtitle class="leading-5">Growth</mat-card-subtitle>
        </div>
        <span class="bg-light-secondary text-secondary rounded-sm size-10! flex items-center justify-center">
          <i class="iconify size-6!4" data-icon="solar:chart-2-bold-duotone"></i>
        </span>
      </div>
      <apx-chart [series]="growthChart.series" [chart]="growthChart.chart" [plotOptions]="growthChart.plotOptions"
        [tooltip]="growthChart.tooltip" [stroke]="growthChart.stroke" [markers]="growthChart.markers"
        [labels]="growthChart.labels" [fill]="growthChart.fill" [legend]="growthChart.legend"
        [dataLabels]="growthChart.dataLabels" [colors]="growthChart.colors"></apx-chart>
    </div>
  </mat-card-content>
</mat-card>