<div class="banner-section bg-light-primary md:py-20 py-6">
  <div class="container">
    <p class="text-primary text-center uppercase text-sm mt-0 font-semibold">
      Portfolio
    </p>
    <h1 class="text-center font-bold text-2xl sm:text-3xl md:text-[40px] leading-normal">Explore Our Latest Works</h1>
  </div>
</div>

<div class="md:py-20 py-6">
  <div class="container">
    <div class="flex items-center justify-between gap-3 flex-wrap mb-6">
      <div class="flex items-center gap-2 mb-2.5">
        <h5 class="font-medium text-xl">Portfolio</h5>
        <div class="px-1.5 py-0.5 rounded-full bg-secondary text-white">
          <div class="text-sm leading-5">{{ filteredCount }} </div>
        </div>
      </div>

      <!-- Search bar pushed to the right -->
      <mat-form-field appearance="outline" class="search-bar-style hide-hint">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search Portfolio" [(ngModel)]="searchText" (input)="onSearchChange()" />
      </mat-form-field>
    </div>
    <div class="grid grid-cols-12 gap-6">
      @for(productcard of filteredCardImgs; track productcard.id) {
      <div class="col-span-12 sm:col-span-6 lg:col-span-4">
        <mat-card class="cardWithShadow productcard overflow-hidden border rounded-sm mb-0! group">
          <a class="relative overflow-hidden cursor-pointer" routerLink="/widgets/cards">
            <img src="{{ productcard.imgSrc }}" alt="imgSrc"
              class="w-full object-cover group-hover:scale-[1.03] duration-300" height="220" mat-card-image />
          </a>
          <mat-card-content class="pb-6 pt-3 relative">
            <mat-card-title class="mat-headline-2 text-base mborder">
              <div class="flex items-center justify-between">
                <!-- Left Side: Text Content -->
                <div>
                  <h6 class="text-base leading-5 font-semibold">{{ productcard.title }}</h6>
                  <p class="text-xs font-normal my-0">{{ productcard.date }}</p>
                </div>

                <!-- Right Side: Icon -->
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
      }
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>