<mat-card class="cardWithShadow mb-0!">
  <mat-card-header>
    <mat-card-title>Employee Salary</mat-card-title>
    <mat-card-subtitle>Every month</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- ---------------------------- -->
    <!-- charts here -->
    <!-- ---------------------------- -->
    <apx-chart [series]="employeeChart.series" [plotOptions]="employeeChart.plotOptions"
      [dataLabels]="employeeChart.dataLabels" [chart]="employeeChart.chart" [legend]="employeeChart.legend"
      [colors]="employeeChart.colors" [tooltip]="employeeChart.tooltip" [xaxis]="employeeChart.xaxis"
      [yaxis]="employeeChart.yaxis" [grid]="employeeChart.grid"></apx-chart>

    <div class="flex items-center justify-between mt-4">
      <div class="flex items-center">
        <span class="text-primary bg-light-primary rounded-sm size-10! flex items-center justify-center">
          <i-tabler name="grid-dots" class="size-5!"></i-tabler>
        </span>

        <div class="ms-3">
          <span class="text-sm text-muted">Salary</span>
          <h5 class="text-base font-semibold">$36,358</h5>
        </div>
      </div>
      <div class="flex items-center">
        <span class="bg-light text-body rounded-sm size-10! flex items-center justify-center">
          <i-tabler name="grid-dots" class="size-5!"></i-tabler>
        </span>

        <div class="ms-3">
          <span class="text-sm text-muted">Profit</span>
          <h5 class="text-base font-semibold">$5,296</h5>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>