// Breadcrumb (overrides from layouts/_breacrumb.scss)
.breadcrumb {
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  .breadcrumb-item {
    font-size: 14px;
    line-height: 1.5;
  
    &.active {
      font-size: 14px;
    }
  
    a {
      font-size: 14px;
    }
  }
  
  .page-title {
    transform: scaleY(2);
    opacity: 0.2;
    letter-spacing: 10px;
  }