<mat-sidenav-container
  class="mainWrapper"
  autosize
  autoFocus
  [ngClass]="{
    'sidebarNav-mini': options.sidenavCollapsed && !isOver,
  }"
>
  <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="options.sidenavOpened"
    (openedChange)="onSidenavOpenedChange($event)"
    class="sidebarNav"
  >
    <div class="flex-layout flex flex-col h-full">
      <app-sidebar
        (toggleMobileNav)="sidenav.toggle()"
        [showToggle]="isOver"
        [searchQuery]="navSearchQuery()"
        (searchQueryChange)="onNavSearchChange($event)"
      ></app-sidebar>
      <ng-scrollbar
        class="relative"
        style="height: 100%"
      >
        @if (navSearchActive() && !navSearchHasResults()) {
          <p class="sidebar-search-empty">No matching pages</p>
        } @else {
          <mat-nav-list class="sidebar-list">
            @for (item of visibleNavItems(); track trackNavItem($index, item)) {
              <app-nav-item
                [item]="item"
                [forceExpanded]="navSearchActive()"
                (notify)="sidenav.toggle()"
                class="top-parent"
              >
              </app-nav-item>
            }
          </mat-nav-list>
        }
      </ng-scrollbar>
      <div class="profile-bar">
        <div class="sidebar-profile">
          <span
            class="sidebar-profile__avatar"
            aria-hidden="true"
            >{{ sidebarUserInitials() }}</span
          >
          <div class="sidebar-profile__meta">
            <span class="sidebar-profile__name">{{ sidebarUserName() }}</span>
            <span class="sidebar-profile__role">{{ sidebarUserRole() }}</span>
          </div>
          <a
            mat-icon-button
            [routerLink]="['/authentication/login']"
            class="sidebar-profile__logout"
            aria-label="Sign Out"
          >
            <i
              class="iconify text-lg flex!"
              data-icon="solar:power-linear"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content
    class="contentWrapper"
    #content
  >
    <app-header
      [showToggle]="!isOver"
      (toggleCollapsed)="toggleCollapsed()"
      (toggleMobileNav)="sidenav.toggle()"
    ></app-header>

    <main class="pageWrapper">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
