<app-dialog-wrapper [title]="data.title">
  <mat-dialog-content class="mat-typography">
    {{ data.message }}
  </mat-dialog-content>

  <mat-divider></mat-divider>
  <mat-dialog-actions class="dialog-actions">
    @if (data.rejectBtn) {
      <app-ui-button
        variant="secondary"
        mat-dialog-close
      >
        {{ data.rejectBtnText ?? 'Cancel' }}
      </app-ui-button>
    }

    @if (!data.onlyCancel) {
      <app-submit-button
        [isSubmitting]="isSubmitting"
        [text]="data.acceptBtnText ?? 'Yes'"
        [focusInitial]="true"
        (click)="accept()"
      />
    }
  </mat-dialog-actions>
</app-dialog-wrapper>
