<mat-card class="cardWithShadow m-b-10">
  <mat-card-content class="p-10">
    <form (ngSubmit)="loadHttpData()" [formGroup]="searchForm">
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input
              matInput
              formControlName="name"
            />
          </mat-form-field>
        </div>

        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'CODE' | translate }}</mat-label>
            <input
              matInput
              formControlName="code"
            />
          </mat-form-field>
        </div>

        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'STATUS' | translate }}</mat-label>
            <mat-select formControlName="is_active">
              <mat-option value="">{{ 'ALL' | translate }}</mat-option>
              <mat-option [value]="true">{{ 'ACTIVE' | translate }}</mat-option>
              <mat-option [value]="false">{{ 'INACTIVE' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3 d-flex align-items-center justify-content-end gap-8">
          <button
            mat-stroked-button
            type="button"
            (click)="resetSearchForm()"
          >
            {{ 'CLEAR_SEARCH' | translate }}
          </button>

          <button mat-flat-button type="submit">
            {{ 'SEARCH' | translate }}
          </button>

          <button
            mat-flat-button
            (click)="openManageBankDialog('CREATE')"
            type="button"
          >
            {{ 'ADD_BANK' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow m-b-0">
  <mat-card-content class="p-10">
    <app-table-wrapper
        [isLoading]="isLoading"
      >
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="created_at"
        [matSortDisableClear]="true"
        matSortDirection="desc"
        class="w-100"
      >
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index">
            <app-serial-number
              [currentPage]="currentPage"
              [pageSize]="pageSize"
              [i]="i"
              [totalRecords]="totalRecords"
            ></app-serial-number>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'NAME' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.bank_name }}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>{{ 'CODE' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.code }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{ 'ACTION' | translate }}</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              (click)="openManageBankDialog('UPDATE', element)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a
              (click)="openDeleteDialog(element.id)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </app-table-wrapper>

    <app-paginator
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [length]="totalRecords || 0"
      (page)="onPaginationChange($event)"
    ></app-paginator>
  </mat-card-content>
</mat-card>


