@use '@angular/material' as mat;
@use '../variables' as *;

@include mat.card-overrides(
  (
    elevated-container-color: var(--n-00),
    title-text-size: var(--fs-section),
    subtitle-text-size: var(--fs-meta),
    subtitle-text-color: var(--n-60),
    title-text-line-height: var(--lh-section),
    title-text-weight: 600,
    subtitle-text-weight: 400,
    elevated-container-shape: var(--r-lg),
    outlined-container-shape: var(--r-lg),
    elevated-container-elevation: var(--e-card),
  )
);

html {
  .mat-mdc-card {
    margin-bottom: var(--sp-6);
    border: 1px solid var(--n-25);
    box-shadow: var(--e-card) !important;
    background: var(--n-00);

    .mat-mdc-card-header {
      padding: $card-spacer $card-spacer 0 !important;
    }

    .mat-mdc-card-header + .mat-mdc-card-content {
      padding: 0 $card-spacer $card-spacer;
    }

    > .mat-mdc-card-content {
      padding: $card-spacer;

      &.p-0 {
        padding: 0 !important;
      }
    }

    .mdc-card__actions {
      padding: $card-spacer !important;
    }
  }
}
