@use '../variables' as *;

html {
  .mdc-list-item__primary-text,
  .mat-drawer-container,
  .mat-drawer,
  .text-body {
    color: var(--n-80);
    font-size: var(--fs-body);
  }

  body,
  .mat-mdc-button-base:not(.mat-mdc-icon-button),
  .mat-mdc-menu-item,
  .mat-mdc-option {
    font-family: var(--font-sans);
  }
}
