<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12">
    <app-top-cards></app-top-cards>
  </div>
  <div class="xl:col-span-8 col-span-12">
    <app-revenue-updates></app-revenue-updates>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <div class="flex flex-col h-full gap-6">
      <app-yearly-breakup></app-yearly-breakup>
      <app-monthly-earnings></app-monthly-earnings>
    </div>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-employee-salary></app-employee-salary>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <div class="flex flex-col h-full gap-6">
      <div class="grid grid-cols-12 gap-6">
        <div class="lg:col-span-6 col-span-12">
          <app-customers></app-customers>
        </div>
        <div class="lg:col-span-6 col-span-12">
          <app-projects></app-projects>
        </div>
      </div>
      <app-social-card></app-social-card>
    </div>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-selling-product></app-selling-product>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-weekly-stats></app-weekly-stats>
  </div>
  <div class="xl:col-span-8 col-span-12">
    <app-top-projects></app-top-projects>
  </div>
</div>