<div class="banner-section bg-light-primary md:py-20 py-6">
  <div class="container">
    <p class="text-primary text-center uppercase text-sm mt-0 font-semibold">
      Pricing Page
    </p>
    <h1 class="text-center font-bold text-2xl sm:text-3xl md:text-[40px] leading-normal">Choose Your Plan</h1>
  </div>
</div>

<div class="page-pricing md:py-20 py-6">
  <div class="container">
    <app-page-pricing></app-page-pricing>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>