<div class="banner-section bg-light-primary md:py-20 py-6">
  <div class="container">
    <p class="text-primary text-center uppercase text-sm mt-0 font-semibold">
      Blog Page
    </p>
    <h1 class="text-center font-bold text-2xl sm:text-3xl md:text-[40px] leading-normal">Latest blog & news</h1>
  </div>
</div>

<div class="blog-details-content md:py-20 py-6">
  <div class="container">
    <!-- ----------------------------------------------------------------- -->
    <!-- If Blog is available -->
    <!-- ----------------------------------------------------------------- -->
    @if(blogDetail()) {
    <mat-card class="cardWithShadow">
      <img mat-card-image src="{{ blogDetail()?.imgSrc }}" alt="Photo of a Shiba Inu" class="relative -mb-16!"
        height="440" />
      <div class="detail-card-overlay h-full flex items-end justify-end relative">
        <span class="text-xs font-semibold bg-white! dark:text-black rounded-full px-2 py-1 mx-4">2 mins Read</span>
      </div>
      <mat-card-content class="p-6 border-b border-border">
        <div class="user-category relative">
          <div>
            <img src="{{ blogDetail()?.user }}" class="rounded-full" width="40" />
          </div>
          <span class="text-xs my-4 font-semibold rounded-full px-2 py-1 inline-block text-dark bg-light">
            {{ blogDetail()?.category }}
          </span>
        </div>
        <mat-card-title class="font-bold text-2xl sm:text-3xl md:text-[40px] leading-normal">
          {{ blogDetail()?.title }}
        </mat-card-title>
        <div class="flex items-center mt-6 justify-between">
          <div class="flex items-center gap-6">
            <span class="text-sm flex items-center gap-2">
              <i-tabler name="eye" class="size-4.5!"></i-tabler>
              {{ blogDetail()?.views }}
            </span>
            <span class="text-sm flex items-center gap-2">
              <i-tabler name="message-2" class="size-4.5!"></i-tabler>
              {{ blogDetail()?.comments }}
            </span>
          </div>
          <span class="text-sm flex items-center">
            <i-tabler name="point" class="size-4.5!"></i-tabler>
            {{ blogDetail()?.date }}
          </span>
        </div>
      </mat-card-content>
      <mat-card-content class="heading-section">
        <h2 class="my-3 font-bold text-2xl sm:text-3xl md:text-[40px] leading-normal">Main Heading & Points</h2>
        <p class="text-sm">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since
          the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
          has survived not only five centuries,
          but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the
        </p>
        <ul>
          <li class="text-sm">Vivamus eu lacus scelerisque, placerat commodo lectus.</li>
          <li class="text-sm">Etiam et ante at ex porta fringilla.</li>
          <li class="text-sm">Nullam dignissim sem eu magna aliquet, sit amet volutpat tellus</li>
        </ul>
        <p class="text-sm">
          Unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
          only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
          popularised in the
        </p>
        <mat-divider></mat-divider>
        <p class="text-sm">
          We are a dedicated team of passionate product managers, developers, UX/UI designers, QA engineers experts
          helping businesses from new startups
        </p>
        <mat-divider></mat-divider>
        <p class="text-sm">
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don't look even slightly believable making this the
          first true generator on the Internet. It uses a dictionary
        </p>
        <mat-divider class="mb-4!"></mat-divider>
        <h2 class="text-xl leading-normal">Tags</h2>
        <ul>
          <li class="text-sm">Trends</li>
          <li class="text-sm">Design</li>
          <li class="text-sm">Research</li>
        </ul>

        <mat-divider class="mb-4!"></mat-divider>
        <h2 class="text-xl leading-normal">Share</h2>
        <ul class="text-primary">
          <li class="text-sm"><a class="text-primary no-underline" href="javascript:void(0)">Facebook</a></li>
          <li class="text-sm"><a class="text-primary no-underline" href="javascript:void(0)">Twitter</a></li>
          <li class="text-sm"><a class="text-primary no-underline" href="javascript:void(0)">Linkedin</a></li>
        </ul>

        <mat-divider class="mb-4!"></mat-divider>
        <h2 class="text-xl leading-normal">Join our newsletter</h2>
        <p class="text-sm">Email address : <a href="javascript:void(0)"
            class="text-sm text-primary no-underline">Subscribe</a></p>
      </mat-card-content>
    </mat-card>
    }

    <!-- ----------------------------------------------------------------- -->
    <!-- If Blog isn't available -->
    <!-- ----------------------------------------------------------------- -->

    @if (!blogDetail() || blogDetail().length === 0) {
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <p>No blog post available.</p>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>