<mat-card class="cardWithShadow">
  <mat-card-content class="p-10">

    @if (isLoading) {
      <div class="skeleton-loader-header">
        <ngx-skeleton-loader
          class="skeleton-loader-style"
          count="21"
          [theme]="cardLoader"
        ></ngx-skeleton-loader>
      </div>
    } @else {
      <div class="detail-card">
        <div class="detail-card-inner">
          <div class="detail-card-heading bg-light-primary">
            <h3>{{ 'BASIC_INFORMATION' | translate }}</h3>
          </div>
          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'ID' | translate }}</span>
              <span class="field-detail">
                      <app-user-details-link
                        [id]="user.id"
                        [displayName]="user.username"
                        [userType]="user.type"
                      ></app-user-details-link>
                    </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'NAME' | translate }}</span>
              <span class="field-detail">
                <app-hidden-item
                  [isLink]="false"
                  [displayName]="user.name"
                  [userType]="user.type_enum"
                ></app-hidden-item>
              </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'DATE_OF_BIRTH' | translate }}</span>
              <span class="field-detail">
                @if (user.dob) {
                  <app-date-format
                    [value]="user.dob"
                    format="yyyy-MM-dd"
                  ></app-date-format>
                } @else {
                  ----
                }
              </span>
            </div>
          </div>

          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'PHONE_NUMBER' | translate }}</span>
              <span class="field-detail">
                <app-hidden-item
                  [isLink]="false"
                  [displayName]="user.phone"
                  [userType]="user.type_enum"
                ></app-hidden-item>
              </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'ROLLING_RATIO' | translate }}</span>
              <span class="field-detail">{{ user.rolling_ratio }}</span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'LOSING_MONEY_RATIO' | translate }}</span>
              <span class="field-detail">{{ user.losing_point_ratio }}</span>
            </div>
          </div>

          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'RECOMMENDER' | translate }}</span>
              <span class="field-detail">
                  @if (user.parent) {
                    {{ user.parent.username }}
                  } @else {
                    {{ 'NO_DATA' | translate }}
                  }
                </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'REFERRAL_CODE' | translate }}</span>
              <span class="field-detail">
                  @if (user.parent) {
                    {{ user.parent.ref_code }}
                  } @else {
                    {{ 'NO_DATA' | translate }}
                  }
                </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'LEVEL' | translate }}</span>
              <span class="field-detail">
                <app-hidden-item
                  [isLink]="false"
                  [displayName]="user.level"
                  [userType]="user.type_enum"
                ></app-hidden-item>
              </span>
            </div>
          </div>

          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'MEMBER_SINCE' | translate }}</span>
              <span class="field-detail">
                      <app-date-format
                        [value]="user.created_at"
                      ></app-date-format>
                    </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'STATUS' | translate }}</span>
              <span class="field-detail">{{ user.status_enum | translate }}</span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'BLOCKED_AT' | translate }}</span>
              <span class="field-detail">
                      <app-date-format
                        [value]="user.blocked_at"
                      ></app-date-format>
                    </span>
            </div>
          </div>

          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'REGISTRATION_IP' | translate }}</span>
              <span class="field-detail">{{ user.created_at_ip }}</span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'LOGIN_IP' | translate }}</span>
              <span class="field-detail" [ngClass]="getLoginIpClass()">
                      @if (user.last_login) {
                        {{ user.last_login.ip_address }}
                      } @else {
                        {{ 'NO_DATA' | translate }}
                      }
                    </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'LAST_LOGIN_AT' | translate }}</span>
              <span class="field-detail">
                        <app-date-format
                          [value]="user.last_login?.login_at"
                        ></app-date-format>
                    </span>
            </div>
          </div>

          <div class="detail-card-heading bg-light-primary">
            <h3>{{ 'DISTRIBUTOR_INFORMATION' | translate }}</h3>
          </div>
          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'MEMBERS_COUNT' | translate }}</span>
              <span class="field-detail">{{ user.members_count }}</span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'SUB_AGENTS_COUNT' | translate }}</span>
              <span class="field-detail">{{ user.grand_children_count }}</span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'REFERRAL_CODE' | translate }}</span>
              <span class="field-detail">{{ user.referral_info.code }}</span>
            </div>
          </div>

          <div class="detail-card-heading bg-light-primary">
            <h3>{{ 'BANK_INFORMATION' | translate }}</h3>
          </div>
          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'BANK' | translate }}</span>
              <span class="field-detail">
                <app-hidden-item
                  [isLink]="false"
                  [displayName]="user.bank_account.bank_name"
                ></app-hidden-item>
              </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'ACCOUNT_HOLDER' | translate }}</span>
              <span class="field-detail">
                <app-hidden-item
                  [isLink]="false"
                  [displayName]="user.bank_account.account_holder"
                ></app-hidden-item>
              </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'ACCOUNT_NUMBER' | translate }}</span>
              <span class="field-detail">
                <app-hidden-item
                  [isLink]="false"
                  [displayName]="user.bank_account.account_number"
                ></app-hidden-item>
              </span>
            </div>
          </div>

          <div class="detail-card-heading bg-light-primary">
            <h3>{{ 'WALLET' | translate }}</h3>
          </div>
          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'COUPON_POINTS' | translate }}</span>
              <span class="field-detail">
                      <app-amount-display
                        [value]="user.wallet.coupon_points"
                      ></app-amount-display>
                    </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'LOSING_MONEY' | translate }}</span>
              <span class="field-detail">
                      <app-amount-display
                        [value]="user.wallet.losing_money"
                      ></app-amount-display>
                    </span>
            </div>
            <div class="detail-card-column">
              <span class="field-name">{{ 'ROLLING_MONEY' | translate }}</span>
              <span class="field-detail">
                      <app-amount-display
                        [value]="user.wallet.rolling_money"
                      ></app-amount-display>
                    </span>
            </div>
          </div>

          <div class="detail-card-heading bg-light-primary">
            <h3>{{ 'DOMAINS' | translate }}</h3>
          </div>
          <div class="detail-card-row">
            <div class="detail-card-column">
              <span class="field-name">{{ 'DOMAINS' | translate }}</span>
              @if (user.domains.length === 0 ) {
                <span class="field-detail">
                        {{ 'NO_DOMAINS' | translate }}
                      </span>
              } @else {
                @for (domain of user.domains; track domain.data) {
                  <span class="field-detail">
                          {{ domain.data }}
                        </span>
                }
              }
            </div>
          </div>
        </div>

        <div class="text-right p-t-10 p-r-0">
          <button
            mat-stroked-button
            color="warn"
            type="button"
            [routerLink]="'/agent/details/' + user.id + '/basic-info-detailed'"
            class="m-r-8"
          >
            {{ 'DETAIL_VIEW' | translate }}
          </button>

          <button
            *can="'domain.manage'"
            (click)="openManageDomainDialog()"
            mat-stroked-button
            type="submit"
            class="m-r-8"
          >
            {{ 'MANAGE_DOMAINS' | translate }}
          </button>

          <button
            (click)="openManualPaymentsDialog()"
            mat-stroked-button
            type="submit"
          >
            {{ 'MANUAL_PAYMENTS' | translate }}
          </button>
        </div>

        <app-memo-form [user]="user"></app-memo-form>
      </div>
    }

  </mat-card-content>
</mat-card>
