<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex flex-col gap-6">
      <div>
        <mat-card-title>Customer Segmentation</mat-card-title>
        <mat-card-subtitle>Customer Category Breakdown</mat-card-subtitle>
      </div>

      <apx-chart [series]="customersegmentationChart.series" [plotOptions]="customersegmentationChart.plotOptions"
        [dataLabels]="customersegmentationChart.dataLabels" [chart]="customersegmentationChart.chart"
        [legend]="customersegmentationChart.legend" [colors]="customersegmentationChart.colors"
        [tooltip]="customersegmentationChart.tooltip" [labels]="customersegmentationChart.labels"
        [stroke]="customersegmentationChart.stroke"></apx-chart>

      <div class="flex items-start justify-around">
        <div class="flex items-start gap-3">
          <span class="text-primary bg-light-primary rounded-sm size-10! flex items-center justify-center">
            <i-tabler name="grid-dots" class="size-5! flex"></i-tabler>
          </span>

          <div>
            <span class="text-sm text-muted">Business</span>
            <h5 class="text-base">$36,358</h5>
          </div>
        </div>
        <div class="flex items-start gap-3">
          <span class="text-secondary bg-light-secondary rounded-sm size-10! flex items-center justify-center">
            <i-tabler name="grid-dots" class="size-5! flex"></i-tabler>
          </span>

          <div>
            <span class="text-sm text-muted">Individuals</span>
            <h5 class="text-base">$5,296</h5>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>