<div class="page-header">
  <div class="page-header__main">
    <div class="page-header__titles min-w-0">
      @if (showTitle) {
        <div class="page-header__identity">
          <h1 class="page-header__title">{{ title }}</h1>
          @if (subtitle) {
            <span
              class="page-header__rule"
              aria-hidden="true"
            ></span>
            <p class="page-header__subtitle">{{ subtitle }}</p>
          }
          @if (badge !== null) {
            <span class="page-header__badge">{{ badge }} Records</span>
          }
          <ng-content select="[titleBadge]"></ng-content>
        </div>
      }

      @if (showBreadcrumbs && resolvedBreadcrumbs.length) {
        <ul class="breadcrumb items-center! m-0!">
          @for (crumb of resolvedBreadcrumbs; track $index; let last = $last) {
            @if ($index === 0) {
              <li class="breadcrumb-item inline-flex items-center text-muted pe-1.5! text-[length:var(--fs-meta)]!">
                @if (crumb.url) {
                  <a
                    [routerLink]="crumb.url"
                    class="inline-flex items-center"
                  >
                    <i-tabler
                      name="home"
                      class="size-3!"
                    ></i-tabler>
                  </a>
                } @else {
                  <i-tabler
                    name="home"
                    class="size-3!"
                  ></i-tabler>
                }
              </li>
            } @else {
              <li class="breadcrumb-item inline-flex items-center text-muted pe-1.5! text-[length:var(--fs-meta)]!">
                <i-tabler
                  name="chevron-right"
                  class="size-3!"
                ></i-tabler>
              </li>
              <li
                class="breadcrumb-item inline-flex items-center pe-1.5! text-[length:var(--fs-meta)]!"
                [class.text-muted]="!last"
                [class.active]="last"
              >
                @if (crumb.url && !last) {
                  <a
                    [routerLink]="crumb.url"
                    class="text-[length:var(--fs-meta)]!"
                    >{{ crumb.title }}</a
                  >
                } @else {
                  {{ crumb.title }}
                }
              </li>
            }
          }
        </ul>
      }
    </div>

    <div class="page-header__actions">
      @if (showFiltersToggle) {
        <app-ui-button
          variant="secondary"
          type="button"
          (click)="filtersToggled.emit()"
        >
          <i-tabler
            name="filter"
            class="size-5!"
          ></i-tabler>
          {{ filtersOpen ? 'Hide Filters' : 'Filters' }}
        </app-ui-button>
      }
      <ng-content select="[pageActions]"></ng-content>
    </div>
  </div>
</div>
