<mat-card class="cardWithShadow mb-0!">
  <mat-card-header>
    <mat-card-title>User Activity</mat-card-title>
    <mat-card-subtitle class="text-sm font-normal">Every day</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex items-center">
      <div class="flex items-center">
        <i-tabler name="circle-filled" class="text-secondary size-2! flex"></i-tabler>
        <div class="ms-3 flex">
          <span class="text-xs">Viewed</span>
        </div>
      </div>
      <div class="flex ms-4 items-center">
        <i-tabler name="circle-filled" class="text-primary size-2! flex"></i-tabler>
        <div class="ms-3 flex">
          <span class="text-xs">Checkout</span>
        </div>
      </div>
    </div>

    <!-- ---------------------------- -->
    <!-- charts here -->
    <!-- ---------------------------- -->
    <apx-chart class="rounded-bars" [series]="useractivityChart.series" [dataLabels]="useractivityChart.dataLabels"
      [colors]="useractivityChart.colors" [chart]="useractivityChart.chart" [legend]="useractivityChart.legend"
      [xaxis]="useractivityChart.xaxis" [yaxis]="useractivityChart.yaxis" [grid]="useractivityChart.grid"
      [stroke]="useractivityChart.stroke" [tooltip]="useractivityChart.tooltip"
      [plotOptions]="useractivityChart.plotOptions"></apx-chart>
  </mat-card-content>
</mat-card>