<mat-card class="cardWithShadow mb-0!">
  <mat-card-header>
    <div class="flex items-start justify-between w-full flex-wrap">
      <div>
        <mat-card-title>Top Performers</mat-card-title>
        <mat-card-subtitle>Best employees</mat-card-subtitle>
      </div>
      <mat-form-field appearance="outline" class="hide-hint">
        <mat-icon class="flex items-center justify-center" matSuffix>
          <i class="iconify text-xl" data-icon="solar:magnifer-line-duotone"></i>
        </mat-icon>
        <input matInput placeholder="Search User..." />
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="relative overflow-auto">
      <table mat-table [dataSource]="dataSource" class="min-w-full stats-wrapper">
        <!-- Position Column -->
        <ng-container matColumnDef="assigned">
          <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
            Assigned
          </th>
          <td class="whitespace-nowrap" mat-cell *matCellDef="let element">
            <div class="flex items-center">
              <img [src]="element.imagePath" alt="users" width="40" class="rounded-full" />
              <div class="ms-4">
                <h6 class="text-sm font-semibold">
                  {{ element.uname }}
                </h6>
                <span class="font-normal text-xs text-muted">
                  {{ element.position }}
                </span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">Name</th>
          <td class="whitespace-nowrap" mat-cell *matCellDef="let element">
            {{ element.productName }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
            Priority
          </th>
          <td class="whitespace-nowrap" mat-cell *matCellDef="let element">
            @if(element.priority == 'low') {
            <span class="bg-light-secondary text-secondary rounded-sm font-semibold px-1.5 py-1 text-xs">
              {{ element.priority | titlecase }}
            </span>

            } @if(element.priority == 'medium') {
            <span class="bg-light-primary text-primary rounded-sm font-semibold px-1.5 py-1 text-xs">
              {{ element.priority | titlecase }}
            </span>
            } @if(element.priority == 'high') {
            <span class="bg-light-warning text-warning rounded-sm font-semibold px-1.5 py-1 text-xs">
              {{ element.priority | titlecase }}
            </span>
            } @if(element.priority == 'critical') {
            <span class="bg-light-error text-error rounded-sm font-semibold px-1.5 py-1 text-xs">
              {{ element.priority | titlecase }}
            </span>
            } @if(element.priority == 'moderate') {
            <span class="bg-light-success text-success rounded-sm font-semibold px-1.5 py-1 text-xs">
              {{ element.priority | titlecase }}
            </span>
            }
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef class="font-semibold text-sm">
            Budget
          </th>
          <td class="whitespace-nowrap" mat-cell *matCellDef="let element">
            ${{ element.budget }}k
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>