<mat-card class="shadow-none bg-primary mb-0!">
  <mat-card-content class="pb-0!">
    <mat-card-title class="text-white">Best Selling Products</mat-card-title>
    <mat-card-subtitle class="text-white!">Overview 2025</mat-card-subtitle>
    <div class="text-center mt-6">
      <img src="assets/images/backgrounds/piggy.png" alt="image" class="mx-auto" />
    </div>
  </mat-card-content>
  <mat-card class="shadow-none m-2! mt-0!">
    <mat-card-content>
      <div class="flex items-center mb-2">
        <div class="me-auto">
          <h6 class="text-base font-semibold mb-1">MaterialPro</h6>
          <span class="text-sm font-normal text-muted">$23,568</span>
        </div>
        <span class="bg-light-primary text-primary rounded-sm font-semibold p-1 text-xs px-3">
          55%
        </span>
      </div>
      <mat-progress-bar mode="determinate" value="55" class="rounded-sm"></mat-progress-bar>
      <div class="flex items-center mb-2 mt-4">
        <div class="me-auto">
          <h6 class="text-base font-semibold mb-1">Flexy Admin</h6>
          <span class="text-sm font-normal text-muted">$23,568</span>
        </div>
        <span class="bg-light-secondary text-secondary rounded-sm font-semibold p-1 text-xs px-3">
          20%
        </span>
      </div>
      <mat-progress-bar mode="determinate" value="20" class="rounded-sm bg-secondary"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</mat-card>