<app-dialog-wrapper dialogTitle="MANAGE_BANK_ACCOUNT">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-dialog-content class="mat-typography mat-subtitle-2 lh-16">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'ACCOUNT_TYPE' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ACCOUNT_TYPE' | translate }}</mat-label>
                <mat-select formControlName="type">
                  @for (type of accountTypes; track type.value) {
                    <mat-option [value]="type.value">
                      {{ type.label | translate }}
                    </mat-option>
                  }
                </mat-select>
                @if (formControls['type'].touched && formControls['type'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['type'].errors && formControls['type'].hasError('required')) {
                      <div class="text-error">
                        {{ 'ACCOUNT_TYPE_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'BANK' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'BANK' | translate }}</mat-label>
                <mat-select formControlName="bank_id">
                  @for (bank of banks; track bank.id) {
                    <mat-option [value]="bank.id">
                      {{ bank.bank_name }}
                    </mat-option>
                  }
                </mat-select>
                @if (formControls['bank_id'].touched && formControls['bank_id'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['bank_id'].errors && formControls['bank_id'].hasError('required')) {
                      <div class="text-error">
                        {{ 'BANK_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'ACCOUNT_HOLDER_NAME' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ACCOUNT_HOLDER_NAME' | translate }}</mat-label>
                <input matInput formControlName="account_holder_name" />
                @if (formControls['account_holder_name'].touched && formControls['account_holder_name'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['account_holder_name'].errors && formControls['account_holder_name'].hasError('required')) {
                      <div class="text-error">
                        {{ 'ACCOUNT_HOLDER_NAME_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'ACCOUNT_NUMBER' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ACCOUNT_NUMBER' | translate }}</mat-label>
                <input matInput formControlName="account_number" />
                @if (formControls['account_number'].touched && formControls['account_number'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['account_number'].errors && formControls['account_number'].hasError('required')) {
                      <div class="text-error">
                        {{ 'ACCOUNT_NUMBER_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['account_number'].errors && formControls['account_number'].hasError('onlyNumbers')) {
                      <div class="text-error">
                        {{ 'ONLY_NUMBERS_ARE_ALLOWED' | translate }}
                      </div>
                    }
                    @if (formControls['account_number'].errors && formControls['account_number'].hasError('noSpace')) {
                      <div class="text-error">
                        {{ 'NO_SPACE_IS_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'STATUS' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'STATUS' | translate }}</mat-label>
                <mat-select formControlName="is_active">
                  <mat-option [value]="1">{{ 'ACTIVE' | translate }}</mat-option>
                  <mat-option [value]="0">{{ 'INACTIVE' | translate }}</mat-option>
                </mat-select>
                @if (formControls['is_active'].touched && formControls['is_active'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['is_active'].errors && formControls['is_active'].hasError('required')) {
                      <div class="text-error">
                        {{ 'STATUS_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
            {{'LOGO' | translate }}
          </mat-label>
        </div>
        <div class="col-sm-12">
          <button
            mat-flat-button
            type="button"
            class="input-file-button"
          >
            <input
              type="file"
              formControlName="logo_path"
              (change)="onLogoSelected($event)"
            />
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          @if (logoPreview) {
            <img [src]="logoPreview" alt="Logo Preview" style="width: 80px; height: 80px; object-fit: contain; margin-top: 8px;" />
          }
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12 m-t-12">
            {{'QR_CODE' | translate }}
          </mat-label>
        </div>
        <div class="col-sm-12">
          <button
            mat-flat-button
            type="button"
            class="input-file-button"
          >
            <input
              type="file"
              formControlName="qr_code_path"
              (change)="onQrCodeSelected($event)"
            />
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 d-flex align-items-center">
          @if (qrCodePreview) {
            <img [src]="qrCodePreview" alt="Logo Preview" style="width: 80px; height: 80px; object-fit: contain; margin-top: 8px;" />
          }
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12 m-t-12">
                {{ 'MIN_DEPOSIT_AMOUNT' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'MIN_DEPOSIT_AMOUNT' | translate }}</mat-label>
                <input matInput formControlName="min_deposit_amount" />
                @if (formControls['min_deposit_amount'].touched && formControls['min_deposit_amount'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['min_deposit_amount'].errors && formControls['min_deposit_amount'].hasError('required')) {
                      <div class="text-error">
                        {{ 'MIN_DEPOSIT_AMOUNT_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['min_deposit_amount'].errors && formControls['min_deposit_amount'].hasError('onlyNumbers')) {
                      <div class="text-error">
                        {{ 'ONLY_NUMBERS_ARE_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12 m-t-12">
                {{ 'MAX_DEPOSIT_AMOUNT' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'MAX_DEPOSIT_AMOUNT' | translate }}</mat-label>
                <input matInput formControlName="max_deposit_amount" />
                @if (formControls['max_deposit_amount'].touched && formControls['max_deposit_amount'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['max_deposit_amount'].errors && formControls['max_deposit_amount'].hasError('required')) {
                      <div class="text-error">
                        {{ 'MAX_DEPOSIT_AMOUNT_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['max_deposit_amount'].errors && formControls['max_deposit_amount'].hasError('onlyNumbers')) {
                      <div class="text-error">
                        {{ 'ONLY_NUMBERS_ARE_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'BANK_TRANSACTION_FEE' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'BANK_TRANSACTION_FEE' | translate }}</mat-label>
                <input matInput formControlName="bank_transaction_fee" />
                @if (formControls['bank_transaction_fee'].touched && formControls['bank_transaction_fee'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['bank_transaction_fee'].errors && formControls['bank_transaction_fee'].hasError('onlyNumbers')) {
                      <div class="text-error">
                        {{ 'ONLY_NUMBERS_ARE_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'BANK_TRANSACTION_SUBSIDI' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'BANK_TRANSACTION_SUBSIDI' | translate }}</mat-label>
                <input matInput formControlName="bank_transaction_subsidi" />
                @if (formControls['bank_transaction_subsidi'].touched && formControls['bank_transaction_subsidi'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['bank_transaction_subsidi'].errors && formControls['bank_transaction_subsidi'].hasError('onlyNumbers')) {
                      <div class="text-error">
                        {{ 'ONLY_NUMBERS_ARE_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <button mat-button class="b-1 border-error text-error" mat-dialog-close>
        {{ 'CANCEL' | translate }}
      </button>

      <app-submit-button
        [isSubmitting]="isSubmitting"
        [disabled]="form.invalid"
      ></app-submit-button>
    </mat-dialog-actions>
  </form>
</app-dialog-wrapper>


