{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSameLine": false,
  "printWidth": 150,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 150
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "printWidth": 150
      }
    }
  ]
}
