<mat-sidenav-container>
  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="contentWrapper m-0" #content>
    <mat-toolbar class="topbar topbar-xl m-auto px-0!">
      <div class="container full-width">
        <div class="py-5">
          <app-branding></app-branding>
        </div>
        <span class="flex-1"></span>
        <div class="hidden lg:flex">
          <button mat-button class="mx-2 text-base font-medium" (click)="gotoDemos()">
            Demos
          </button>

          <button mat-button class="mx-2 text-base font-medium" [matMenuTriggerFor]="appsmenu"
            aria-label="Notifications">
            <div class="flex items-center">
              Pages
              <i-tabler name="chevron-down" class="size-4! ms-1"></i-tabler>
            </div>
          </button>
          <mat-menu #appsmenu="matMenu" class="apps-dd cardWithShadow" xPosition="before">
            <div class="grid grid-cols-12 gap-4">
              <div class="sm:col-span-8 col-span-12 border-r border-border pe-0">
                <div class="p-8">
                  <div class="grid grid-cols-12 gap-6">
                    @for(appdd of apps; track appdd.title) {
                    <div class="sm:col-span-6 col-span-12 text-hover-primary">
                      <a [routerLink]="[appdd.link]" class="flex items-center no-underline">
                        <button mat-mini-fab class="text-primary bg-light shadow-none! rounded-sm">
                          <img [src]="appdd.img" width="20" />
                        </button>

                        <div class="ms-4">
                          <h5 class="text-sm font-semibold m-0 hover-text">
                            {{ appdd.title }}
                          </h5>
                          <span class="text-xs text-body">{{
                            appdd.subtitle
                            }}</span>
                        </div>
                      </a>
                    </div>
                    }
                  </div>
                </div>
                <div class="border-t border-border p-5 hidden lg:flex items-center justify-between">
                  <span class="flex items-center text-base font-medium">
                    <i-tabler name="help" class="size-5! me-2"></i-tabler>Frequently Asked Questions
                  </span>
                  <a [routerLink]="['/theme-pages/faq']" mat-flat-button color="primary">Check</a>
                </div>
              </div>
              <div class="sm:col-span-4 col-span-12">
                <div class="px-4 py-6 pb-0">
                  <h4 class="text-lg font-semibold mb-4">Quick Links</h4>
                  @for(quicklink of quicklinks; track quicklink.title) {
                  <div class="text-hover-primary">
                    <a [routerLink]="[quicklink.link]"
                      class="hover-text no-underline text-sm font-semibold block py-1.5">{{ quicklink.title }}</a>
                  </div>
                  }
                </div>
              </div>
            </div>
          </mat-menu>

          <a mat-button class="mx-2 text-base font-medium"
            [routerLink]="['/landingpage/components/badge']">Components</a>

          <a mat-button class="mx-2 text-base font-medium"
            href="https://tailwind-admin.github.io/tailwind-admin-documentation/premium-documentation/angular/index.html">Documentation</a>
          <a mat-button class="mx-2 text-base font-medium" href="https://tailwind-admin.com/support">Support</a>
          <a mat-flat-button color="primary" class="ms-2.5" [routerLink]="['/authentication/login']">Login</a>
        </div>

        <button mat-icon-button (click)="filterNavRight.toggle()" class="flex! items-center justify-center lg:hidden!">
          <i-tabler name="menu-2" class="flex!"></i-tabler>
        </button>
      </div>
    </mat-toolbar>

    <div class="md:py-20 py-6 border-b border-border">
      <div class="container">
        <div class="flex justify-center">
          <div class="w-full lg:w-2/3">
            <h2 class="text-center sm:text-4xl text-2xl font-bold sm:leading-[45px]!">
              100+ Shadcn UI Components for Modern Web Apps Built with Tailwind CSS
            </h2>
          </div>
        </div>
      </div>
    </div>

    <main class="page-content relative md:py-20 py-6" [ngClass]="{ maxWidth: options.boxed }">
      <div class="container">
        <mat-card class="cardWithShadow overflow-hidden component-library">
          <mat-card-content class="py-5">
            <div class="flex flex-row items-center self-stretch justify-between">
              <div>
                <mat-card-title>Component Library</mat-card-title>
                <mat-card-subtitle>Browse and explore components</mat-card-subtitle>
              </div>
              <button mat-icon-button (click)="compoNavRight.toggle()" class="flex justify-center">
                <i class="iconify flex" data-icon="solar:hamburger-menu-linear"></i>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="flex items-start gap-6">

          <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
            (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()"
            class="component-sidebarNav sidebarNav border-0!">
            <div class="flex-layout flex flex-col h-full border border-border rounded-sm">
              <!-- search -->
              <mat-form-field appearance="outline" class="w-full p-6 pb-0 hide-hint">
                <div class="flex flex-row items-center self-stretch gap-3 ">
                  <i class="iconify size-5.5!" data-icon="solar:magnifer-line-duotone"></i>
                  <input matInput type="text" placeholder="Search..." [value]="searchTerm()"
                    (input)="search($any($event.target).value)" />
                </div>
              </mat-form-field>

              <ng-scrollbar style="height: calc(100vh - 80px)" class="relative pb-6">
                <mat-nav-list class="sidebar-list">
                  @for(item of filteredNavItems(); track item) {
                  <app-nav-item [item]="item" (notify)="sidenav.toggle()" class="top-parent">
                  </app-nav-item>
                  }
                </mat-nav-list>
              </ng-scrollbar>
            </div>
          </mat-sidenav>

          <div class="w-full grow">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </main>

    <footer class="py-7.5">
      <div class="container">
        <div class="flex justify-center">
          <div class="w-full sm:w-5/12 lg:w-1/3 text-center">
            <span>
              <img src="assets/images/landingpage/favicon.png" class="max-w-full h-auto! mx-auto" alt="logo" />
            </span>
            <div class="text-sm mt-4">
              All rights reserved by Modernize. Designed & Developed by Tailwind Admin
              <a href="https://tailwind-admin.com/" target="_blank" class="text-sm underline font-semibold">
                Tailwind Admin
              </a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>

  <!-- Filter SideNav -->
  <mat-sidenav #filterNavRight mode="over" position="end"
    class="filter-sidebar w-[290px] fixed -right-[290px] top-0 z-10 h-full transition-all duration-300 ease-in-out shadow-(--mat-sys-level1) bg-(--mat-sys-background)">
    <div>
      <div class="branding">
        @if(options.theme === 'light') {
        <a href="/">
          <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2 rtl:-scale-x-100" alt="logo" />
        </a>
        } @if(options.theme === 'dark') {
        <a href="/">
          <img src="./assets/images/logos/light-logo.svg" class="align-middle m-2 rtl:-scale-x-100" alt="logo" />
        </a>
        }
      </div>

      <mat-accordion>
        <mat-expansion-panel class="shadow-none!">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-base font-medium"> Demos </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h5 class="text-lg font-semibold">Different Demos</h5>
            <span>Included with the package</span>
            <div class="grid grid-cols-12 gap-6 mt-6">
              @for(demo of demos; track demo.url) {
              <div class="col-span-12">
                <div>
                  <div class="img-overlay rounded-sm">
                    <img [src]="demo.imgSrc" alt="demos" class="rounded-sm w-full" />
                    <div class="overlay-content">
                      <a href="{{ demo.url }}" mat-flat-button color="primary">
                        Live preview
                      </a>
                    </div>
                  </div>
                  <span class="text-sm block text-center mt-2">{{
                    demo.name
                    }}</span>
                </div>
              </div>
              }
            </div>

            <h5 class="text-lg font-semibold mt-6">Different Apps</h5>
            <div class="grid grid-cols-12 gap-6 mt-6">
              @for(app of appdemos; track app.url) {
              <div class="col-span-12">
                <div>
                  <div class="img-overlay rounded-sm">
                    <img [src]="app.imgSrc" alt="apps" class="rounded-sm w-full" />
                    <div class="overlay-content">
                      <a href="{{ app.url }}" mat-flat-button color="primary">
                        Live preview
                      </a>
                    </div>
                  </div>
                  <span class="text-sm block text-center mt-2">{{
                    app.name
                    }}</span>
                </div>
              </div>
              }
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="shadow-none!">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-base font-medium"> Pages </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="grid grid-cols-12 gap-6">
              @for(appdd of apps; track appdd.img) {
              <div class="col-span-12 text-hover-primary">
                <a [routerLink]="[appdd.link]" class="flex items-center no-underline">
                  <button mat-mini-fab class="text-primary bg-light-primary shadow-none! rounded-sm">
                    <img [src]="appdd.img" width="20" />
                  </button>

                  <div class="ms-4">
                    <h5 class="text-sm font-semibold m-0 text-primary hover-text">
                      {{ appdd.title }}
                    </h5>
                    <span class="text-xs">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
            <h4 class="text-lg font-semibold my-4">Quick Links</h4>
            @for(quicklink of quicklinks; track quicklink.title) {
            <div class="text-hover-primary">
              <a [routerLink]="['quicklink.link']" class="hover-text no-underline text-sm font-semibold block py-2">{{
                quicklink.title
                }}</a>
            </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="px-4">
        <a href="
            https://tailwind-admin.github.io/tailwind-admin-documentation/premium-documentation/angular/index.html
          " class="flex items-center no-underline text-sm py-4">
          <span class="text-[15px] font-medium ms-2">Documentation</span>
        </a>
        <a [routerLink]="['/landingpage/components/badge']" class="flex items-center no-underline text-sm py-4">
          <span class="text-[15px] font-medium ms-2">Components</span>
        </a>
        <a [routerLink]="['https://tailwind-admin.com/support']" class="flex items-center no-underline text-sm py-4">
          <span class="text-[15px] font-medium ms-2">Support</span>
        </a>
        <a mat-flat-button color="primary" class="w-full" [routerLink]="['/']">Buy Now</a>
      </div>
    </div>
  </mat-sidenav>

  <!-- Compo SideNav -->
  <mat-sidenav #compoNavRight mode="over" position="end" class="border-s border-border">
    <!-- search -->
    <div class="flex flex-row items-center self-stretch justify-between gap-16 p-6 pb-0">
      <mat-form-field appearance="outline" class="w-full hide-hint">
        <div class="flex flex-row items-center self-stretch gap-3 ">
          <i class="iconify size-5.5!" data-icon="solar:magnifer-line-duotone"></i>
          <input matInput type="text" placeholder="Search..." [value]="searchTerm()"
            (input)="search($any($event.target).value)" />
        </div>
      </mat-form-field>
      <button mat-icon-button (click)="compoNavRight.toggle()" class="flex justify-center">
        <i class="iconify flex text-muted" data-icon="solar:close-circle-outline"></i>
      </button>
    </div>

    <ng-scrollbar style="height: calc(100vh - 80px)" class="relative pb-6">
      <mat-nav-list class="sidebar-list">
        @for(item of filteredNavItems(); track item) {
        <app-nav-item [item]="item" (notify)="sidenav.toggle()" class="top-parent">
        </app-nav-item>
        }
      </mat-nav-list>
    </ng-scrollbar>
  </mat-sidenav>
</mat-sidenav-container>