<button
  mat-icon-button
  [matMenuTriggerFor]="profilemenu"
  aria-label="Notifications"
>
  <img
    src="/assets/images/profile/user-1.jpg"
    class="rounded-circle object-cover"
    width="35"
    alt="user-avatar"
  />
</button>
<mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
  <ng-scrollbar class="position-relative" style="height: 230px">
    <div class="p-x-32 p-y-16">
      <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
        <img
          src="/assets/images/profile/user-1.jpg"
          class="rounded-circle"
          width="95"
          alt="user-avatar"
        />
        <div class="m-l-16">
          <h6 class="f-s-14 f-w-600 m-0">{{ loggedInUser.name }}</h6>
          <span class="f-s-14 d-block m-b-4">{{ loggedInUser.username }}</span>
        </div>
      </div>
    </div>

    <div class="p-y-12 p-x-32">
      <a mat-stroked-button class="w-100" (click)="logout()">{{ 'LOGOUT' | translate }}</a>
    </div>
  </ng-scrollbar>
</mat-menu>
