<mat-sidenav-container
  class="mainWrapper sidebarNav-horizontal"
  autosize autoFocus [ngClass]="{
  'sidebarNav-mini': options.sidenavCollapsed && options.navPos !== 'top' &&  !resView,
  cardBorder: options.cardBorder,
}"
  [dir]="options.dir!"
>
  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="contentWrapper" #content>
    <!-- ============================================================== -->
    <!-- VerticalHeader -->
    <!-- ============================================================== -->
    <!-- horizontal header -->
    <app-horizontal-header
      (toggleMobileNav)="sidenav.toggle()"
      (toggleMobileFilterNav)="filterNavRight.toggle()"
    ></app-horizontal-header>

    <main
      class="pageWrapper"
      [ngClass]="{
        maxWidth: options.boxed
      }"
    >
      <app-breadcrumb></app-breadcrumb>
      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ------------------------------------------------------------------
    Mobile Apps Sidebar
    ------------------------------------------------------------------ -->
<mat-drawer #filterNavRight mode="over" position="end" class="filter-sidebar">
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="branding">
        @if(options.theme === 'light') {
          <a href="/">
            <img
              src="https://art-chip.s3.ap-southeast-1.amazonaws.com/logo/artchip-logo-dark.png"
              class="align-middle m-2"
              style="width: 35%;"
              alt="logo"
            />
          </a>
        }
        @if(options.theme === 'dark') {
          <a href="/">
            <img
              src="https://art-chip.s3.ap-southeast-1.amazonaws.com/logo/artchip-logo-light.png"
              class="align-middle m-2"
              style="width: 35%;"
              alt="logo"
            />
          </a>
        }
      </div>
      <button
        mat-icon-button
        (click)="filterNavRight.toggle()"
        class="d-flex justify-content-center"
      >
        <i-tabler name="x" class="icon-18 d-flex"></i-tabler>
      </button>
    </div>

    <div class="p-x-30">
      @for(menu of userDetailsMenu; track menu) {
        <div class="text-hover-primary">
          <a
            [routerLink]="['menu.link']"
            class="hover-text text-decoration-none mat-body-1 f-w-600 d-block p-y-8"
            >{{ menu.title | translate }}</a
          >
        </div>
      }
    </div>
  </div>
</mat-drawer>
