<mat-card class="cardWithShadow overflow-hidden mb-0!">
  <mat-card-header class="flex items-center">
    <mat-card-title>Monthly Earnings</mat-card-title>
    <div class="ms-auto">
      <button mat-fab class="bg-secondary shadow-none size-12!">
        <i-tabler name="currency-dollar" class="text-white! flex!"></i-tabler>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-counter class="text-xl text-dark font-semibold block" [countTo]="6820" [duration]="1000"></app-counter>
    <div class="flex items-center mt-2.5">
      <button mat-mini-fab class="bg-light-error text-error shadow-none size-5.5!">
        <i-tabler name="arrow-down-right" class="size-4! flex!"></i-tabler>
      </button>
      <div class="text-sm font-semibold ms-3">+9%</div>
      <div class="text-sm font-normal ms-1 text-muted">last year</div>
    </div>
  </mat-card-content>

  <!-- ---------------------------- -->
  <!-- charts here -->
  <!-- ---------------------------- -->
  <apx-chart [series]="monthlyChart.series" [dataLabels]="monthlyChart.dataLabels" [chart]="monthlyChart.chart"
    [legend]="monthlyChart.legend" [colors]="monthlyChart.colors" [stroke]="monthlyChart.stroke"
    [tooltip]="monthlyChart.tooltip" [plotOptions]="monthlyChart.plotOptions" [fill]="monthlyChart.fill"
    [responsive]="monthlyChart.responsive"></apx-chart>
</mat-card>