@if (isLoading) {
  <app-loader-block
    label="Loading campaign"
    class="py-16"
  />
} @else if (campaign) {
  <app-detail-page>
    <ng-container detailHeader>
      <app-page-header
        [title]="campaign.tournament_name"
        [subtitle]="campaign.is_linked ? 'Linked Tournament' : 'Custom Title'"
        [showFiltersToggle]="false"
      >
        <app-status-chip
          titleBadge
          [status]="campaign.status"
          [label]="campaign.status_label"
        />
        <ng-container pageActions>
          @if (showSubmissionSearch) {
            <app-ui-button
              type="button"
              variant="secondary"
              (click)="runClearSubmissionSearch()"
            >
              Clear Search
            </app-ui-button>
          }
        </ng-container>
      </app-page-header>
    </ng-container>

    <nav
      detailTabs
      mat-tab-nav-bar
      [tabPanel]="tabPanel"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      <a
        mat-tab-link
        routerLink="overview"
        routerLinkActive
        #rlaO="routerLinkActive"
        [active]="rlaO.isActive"
      >
        Overview
      </a>
      <a
        mat-tab-link
        routerLink="submissions"
        routerLinkActive
        #rlaS="routerLinkActive"
        [active]="rlaS.isActive"
      >
        Submissions
      </a>
    </nav>

    <mat-tab-nav-panel
      detailBody
      #tabPanel
    >
      <router-outlet
        (activate)="onOutletActivate($event)"
        (deactivate)="onOutletDeactivate()"
      />
    </mat-tab-nav-panel>
  </app-detail-page>
}
