<mat-card class="cardWithShadow m-b-10">
  <mat-card-content class="p-10">
    <form (ngSubmit)="loadHttpData()" [formGroup]="searchForm">
      <div class="row">
        <div class="col-lg-3 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'USERNAME' | translate }}</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>
        </div>
        <div class="col-lg-3 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'PROMOTION' | translate }}</mat-label>
            <mat-select formControlName="promotion_id">
              <mat-option value="">{{ 'ALL' | translate }}</mat-option>
              @for (promo of promotions; track promo.id) {
                <mat-option [value]="promo.id">{{ promo.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 m-b-10">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'STATE' | translate }}</mat-label>
            <mat-select formControlName="state">
              <mat-option value="">{{ 'ALL' | translate }}</mat-option>
              <mat-option value="eligible">{{ 'ELIGIBLE' | translate }}</mat-option>
              <mat-option value="activated">{{ 'ACTIVATED' | translate }}</mat-option>
              <mat-option value="completed">{{ 'COMPLETED' | translate }}</mat-option>
              <mat-option value="forfeited">{{ 'FORFEITED' | translate }}</mat-option>
              <mat-option value="expired">{{ 'EXPIRED' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-lg-3 d-flex align-items-center justify-content-end gap-8">
          <button mat-stroked-button type="button" (click)="resetSearchForm()">
            {{ 'CLEAR_SEARCH' | translate }}
          </button>
          <button mat-flat-button type="submit">
            {{ 'SEARCH' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow m-b-0">
  <mat-card-content class="p-10">
    <app-table-wrapper [isLoading]="isLoading">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="activated_at"
        [matSortDisableClear]="true"
        matSortDirection="desc"
        class="w-100"
      >
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <app-serial-number [currentPage]="currentPage" [pageSize]="pageSize" [i]="i" [totalRecords]="totalRecords"></app-serial-number>
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell mat-sort-header="user_id" disableClear *matHeaderCellDef>{{ 'USER' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <app-hidden-item
              [isLink]="true"
              [id]="element.user?.id"
              [displayName]="element.user?.username || element.user?.name || element.user_id"
              [userType]="element.user?.type_enum"
            ></app-hidden-item>
          </td>
        </ng-container>

        <ng-container matColumnDef="promotion">
          <th mat-header-cell *matHeaderCellDef>{{ 'PROMOTION' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.promotion?.name }} ({{ element.promotion?.type_enum | translate }})
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>{{ 'STATE' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.state_enum | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="turnover">
          <th mat-header-cell *matHeaderCellDef>{{ 'TURNOVER' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.turnover }}</td>
        </ng-container>

        <ng-container matColumnDef="net">
          <th mat-header-cell *matHeaderCellDef>{{ 'NET_WIN_LOSS' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.net_win_loss }}</td>
        </ng-container>

        <ng-container matColumnDef="activated">
          <th mat-header-cell mat-sort-header="activated_at" disableClear *matHeaderCellDef>{{ 'ACTIVATED_AT' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <app-date-format [value]="element.activated_at"></app-date-format>
          </td>
        </ng-container>

        <ng-container matColumnDef="completed">
          <th mat-header-cell mat-sort-header="completed_at" disableClear *matHeaderCellDef>{{ 'COMPLETED_AT' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            @if (element.completed_at) {
              <app-date-format [value]="element.completed_at"></app-date-format>
            } @else {
              ----
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </app-table-wrapper>

    <app-paginator
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [length]="totalRecords || 0"
      [pageSizeOptions]="[50, 100, 500, 1000]"
      (page)="onPaginationChange($event)"
    ></app-paginator>
  </mat-card-content>
</mat-card>


