<app-dialog-wrapper dialogTitle="MANAGE_ACCOUNT_INFO">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-dialog-content class="mat-typography mat-subtitle-2 lh-16">
      <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
            {{ 'ACCOUNT_INFO' | translate }}
          </mat-label>
        </div>
        <div class="col-lg-12">
          <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor
              formControlName="value"
              [editor]="editor"
              [disabled]="false"
              [placeholder]="'Type here...'"
              class="b-t-1"
            ></ngx-editor>
          </div>
          @if (formControls['value'].touched && formControls['value'].invalid) {
            <mat-hint class="m-b-16 error-msg">
              @if (formControls['value'].errors && formControls['value'].hasError('required')) {
                <div class="text-error">
                  {{ 'ACCOUNT_INFO_IS_REQUIRED' | translate }}
                </div>
              }
            </mat-hint>
          }
        </div>
      </div>
    </mat-dialog-content>

    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <button mat-button class="b-1 border-error text-error" mat-dialog-close>
        {{ 'CANCEL' | translate }}
      </button>

      <app-submit-button
        [isSubmitting]="isSubmitting"
        [disabled]="form.invalid"
      ></app-submit-button>
    </mat-dialog-actions>
  </form>
</app-dialog-wrapper>
