<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex flex-col gap-10">
      <div>
        <mat-card-title>Payment Gateways</mat-card-title>
        <mat-card-subtitle>Platform For Income</mat-card-subtitle>
      </div>

      <div class="stats-wrapper flex flex-col gap-6">
        @for(stat of stats; track stat.color) {
        <div class="stat-item">
          <div class="flex items-start justify-between">
            <div class="flex items-start gap-3">
              <span class="bg-light-{{ stat.color }} rounded-sm size-11! flex items-center justify-center">
                <img [src]="stat.img" alt="icon" />
              </span>
              <div>
                <h6 class="text-base">{{ stat.title }}</h6>
                <span class="text-sm text-muted">{{ stat.subtitle }}</span>
              </div>
            </div>

            <span class="text-muted text-sm"> +${{ stat.percent }} </span>
          </div>
        </div>
        }
      </div>

      <button mat-stroked-button color="primary" class="w-full mt-3">
        View All Transctions
      </button>
    </div>
  </mat-card-content>
</mat-card>