<mat-card class="cardWithShadow">
  <mat-card-content class="p-10">
    <h4 class="f-s-16 m-0 f-w-600 m-b-16">{{ 'PERSONAL_DETAILS' | translate }}</h4>
    <form class="m-t-24" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row">

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'NAME' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'NAME' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="name"
                />
                @if (formControls['name'].touched && formControls['name'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['name'].errors && formControls['name'].hasError('required')) {
                      <div class="text-error">
                        {{ 'NAME_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'ID' | translate }}
              </mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ID' | translate }}</mat-label>
                <input matInput formControlName="username" />
                @if (formControls['username'].touched && formControls['username'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['username'].errors && formControls['username'].hasError('required')) {
                      <div class="text-error">
                        {{ 'ID_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['username'].errors && formControls['username'].hasError('minlength')) {
                      <div class="text-error">
                        {{ 'ID_SHOULD_BE_GREATER_CHARACTER' | translate }}
                      </div>
                    }
                    @if (formControls['username'].errors && formControls['username'].hasError('noSpace')) {
                      <div class="text-error">
                        {{ 'NO_SPACE_IS_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{ 'REFERRAL_CODE' | translate  }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'REFERRAL_CODE' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="ref_code"
                />
                @if (formControls['ref_code'].touched && formControls['ref_code'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['ref_code'].errors && formControls['ref_code'].hasError('required')) {
                      <div class="text-error">
                        {{ 'REFERRAL_CODE_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['ref_code'].errors && formControls['ref_code'].hasError('noSpace')) {
                      <div class="text-error">
                        {{ 'NO_SPACE_IS_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{ 'PHONE_NUMBER' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="phone"
                />
                @if (formControls['phone'].touched && formControls['phone'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['phone'].errors && formControls['phone'].hasError('required')) {
                      <div class="text-error">
                        {{ 'PHONE_NUMBER_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['phone'].errors && formControls['phone'].hasError('phoneNumberInvalid')) {
                      <div class="text-error">
                        {{ 'PHONE_NUMBER_ONLY_NUMBERS' | translate }}
                      </div>
                    }
                    @if (formControls['phone'].errors && formControls['phone'].hasError('noSpace')) {
                      <div class="text-error">
                        {{ 'NO_SPACE_IS_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'DATE_OF_BIRTH' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100 hide-hint">
                <mat-label>{{ 'DATE_OF_BIRTH' | translate }}</mat-label>
                <input matInput formControlName="dob" [matDatepicker]="dob" />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="dob"
                ></mat-datepicker-toggle>
                <mat-datepicker #dob></mat-datepicker>
                @if (formControls['dob'].touched && formControls['dob'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['dob'].errors && formControls['dob'].hasError('required')) {
                      <div class="text-error">
                        {{ 'DATE_OF_BIRTH_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{ 'STATUS' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'STATUS' | translate }}</mat-label>
                <mat-select value="" formControlName="status">
                  <mat-option value="active">{{ 'NORMAL' | translate }}</mat-option>
                  <mat-option value="block">{{ 'BLOCKED' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">
                {{ 'BANK' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'BANK' | translate }}</mat-label>
                <mat-select value="" formControlName="bank_id">
                  @for (bank of banks; track bank.id) {
                    <mat-option [value]="bank.id">
                      {{ bank.bank_name }} - {{ bank.code }}
                    </mat-option>
                  }
                </mat-select>
                @if (formControls['bank_id'].touched && formControls['bank_id'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['bank_id'].errors && formControls['bank_id'].hasError('required')) {
                      <div class="text-error">
                        {{ 'BANK_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{ 'ACCOUNT_HOLDER' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ACCOUNT_HOLDER' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="account_holder"
                />
                @if (formControls['account_holder'].touched && formControls['account_holder'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['account_holder'].errors && formControls['account_holder'].hasError('required')) {
                      <div class="text-error">
                        {{ 'ACCOUNT_HOLDER_IS_REQUIRED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{ 'ACCOUNT_NUMBER' | translate }}</mat-label>
            </div>
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ACCOUNT_NUMBER' | translate }}</mat-label>
                <input
                  matInput
                  formControlName="account_number"
                />
                @if (formControls['account_number'].touched && formControls['account_number'].invalid) {
                  <mat-hint class="m-b-16 error-msg">
                    @if (formControls['account_number'].errors && formControls['account_number'].hasError('required')) {
                      <div class="text-error">
                        {{ 'ACCOUNT_NUMBER_IS_REQUIRED' | translate }}
                      </div>
                    }
                    @if (formControls['account_number'].errors && formControls['account_number'].hasError('onlyNumbers')) {
                      <div class="text-error">
                        {{ 'ONLY_NUMBERS_ARE_ALLOWED' | translate }}
                      </div>
                    }
                    @if (formControls['account_number'].errors && formControls['account_number'].hasError('noSpace')) {
                      <div class="text-error">
                        {{ 'NO_SPACE_IS_ALLOWED' | translate }}
                      </div>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex align-items-center justify-content-end gap-8">
          <app-submit-button
            [isSubmitting]="isSubmitting"
            [disabled]="form.invalid"
          ></app-submit-button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
