<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex flex-col gap-6">
      <div>
        <mat-card-title>Quarterly Stats</mat-card-title>
        <mat-card-subtitle>Average sales</mat-card-subtitle>
      </div>

      <apx-chart [series]="quarterlystatsCart.series" [plotOptions]="quarterlystatsCart.plotOptions"
        [chart]="quarterlystatsCart.chart" [tooltip]="quarterlystatsCart.tooltip" [fill]="quarterlystatsCart.fill"
        [stroke]="quarterlystatsCart.stroke"></apx-chart>
      <div class="flex flex-col gap-6">
        @for(stat of stats; track stat.color) {
        <div>
          <div class="flex items-start justify-between">
            <div class="flex items-start gap-3">
              <span
                class="text-{{ stat.color }} bg-light-{{ stat.color }} rounded-sm size-10! flex items-center justify-center">
                <i-tabler name="grid-dots" class="size-5! flex"></i-tabler>
              </span>

              <div>
                <h6 class="text-base font-semibold">{{ stat.title }}</h6>
                <span class="text-sm font-normal text-muted">{{ stat.subtitle }}</span>
              </div>
            </div>
            <span class="bg-light-{{ stat.color }} text-{{ stat.color }} rounded-sm font-semibold px-2 py-0.5 text-sm">
              +{{ stat.percent }}
            </span>
          </div>
        </div>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>