<mat-card class="cardWithShadow m-b-10">
  <mat-card-content class="p-10">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'USER' | translate }}</mat-label>
            <mat-select formControlName="userId">
              <mat-option value="">{{ 'SELECT_USER' | translate }}</mat-option>
              @if (isLoadingUsers) {
                <mat-option disabled>
                  <mat-spinner diameter="20"></mat-spinner>
                </mat-option>
              } @else {
                @for (user of usersWithReferrals; track user.id) {
                  <mat-option [value]="user.id">
                    {{ user.username }} - {{ user.name }}
                  </mat-option>
                }
              }
            </mat-select>
            @if (searchForm.controls['userId'].touched && searchForm.controls['userId'].invalid) {
              <mat-error>{{ 'USER_IS_REQUIRED' | translate }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'START_DATE' | translate }}</mat-label>
            <input
              matInput
              formControlName="created_after"
              [matDatepicker]="startDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{ 'END_DATE' | translate }}</mat-label>
            <input
              matInput
              formControlName="created_before"
              [matDatepicker]="endDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div
          class="col-lg-3 d-flex align-items-center justify-content-end gap-8"
        >
          <button
            mat-stroked-button
            type="button"
            (click)="resetSearchForm()"
          >
            {{ 'CLEAR_SEARCH' | translate }}
          </button>

          <button mat-flat-button type="submit" [disabled]="!searchForm.value.userId">
            {{ 'SEARCH' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow m-b-0">
  <mat-card-content class="p-10">
    <div class="item">
      <app-table-wrapper [isLoading]="isLoading">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          matSortActive="created_at"
          [matSortDisableClear]="true"
          matSortDirection="desc"
          class="w-100"
        >
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              <app-serial-number
                [currentPage]="currentPage"
                [pageSize]="pageSize"
                [i]="i"
                [totalRecords]="totalRecords"
              ></app-serial-number>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header="name" disableClear *matHeaderCellDef>
              {{ 'NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="true"
                [id]="element.id"
                [displayName]="element.name"
                [userType]="element.type_enum"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="username">
            <th mat-header-cell mat-sort-header="username" disableClear *matHeaderCellDef>{{ 'ID' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="true"
                [id]="element.id"
                [displayName]="element.username"
                [userType]="element.type_enum"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="agentRecommender">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'AGENT_RECOMMENDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (element.parent && element.parent.username === '----') {
                ----
              } @else if (element.parent) {
                {{ element.parent.username }} - {{ element.parent.ref_code }}
              } @else {
                ----
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="userRecommender">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'USER_RECOMMENDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (element.parent_user) {
                {{ element.parent_user.username }} - {{ element.parent_user.ref_code }}
              } @else {
                ----
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="bankName">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'BANK_NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.bank_account?.bank_name"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="accountHolder">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'ACCOUNT_HOLDER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.bank_account?.account_holder"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="accountNumber">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'ACCOUNT_NUMBER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.bank_account?.account_number"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'PHONE_NUMBER' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-hidden-item
                [isLink]="false"
                [displayName]="element.phone"
              ></app-hidden-item>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'STATUS' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              @if (element.status_enum === 'ACTIVE') {
                <span class="bg-primary rounded-pill f-s-13 p-x-8 p-y-4 text-white f-w-600">{{ element.status_enum | translate }}</span>
              } @else {
                <span class="bg-error rounded-pill f-s-13 p-x-8 p-y-4 text-white f-w-600">{{ element.status_enum | translate }}</span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell mat-sort-header="created_at" disableClear *matHeaderCellDef>
              {{ 'CREATED_AT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <app-date-format
                [value]="element.created_at"
              ></app-date-format>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </app-table-wrapper>

      <app-paginator
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        [length]="totalRecords || 0"
        (page)="onPaginationChange($event)"
      ></app-paginator>
    </div>
  </mat-card-content>
</mat-card>

