<div class="img-slider-content">
  <div class="container img-slider">
    <div class="">
      <div class="grid grid-cols-12 gap-6 mb-12">
        <div class="col-span-12 md:col-span-5">
          <h2 class="font-bold text-2xl sm:text-3xl md:text-[40px] leading-normal mb-6!">Our leadership</h2>
          <div class="flex justify-between items-center">
            <p class="m-0 text-muted">
              Our robust analytics offer rich insights into the information
              buyers want, informing where teams
            </p>
          </div>
        </div>

        <div class="col-span-12 md:col-span-7 mt-6 relative flex flex-col justify-end items-end">
          <div class="flex gap-4">
            <button mat-icon-button class="flex! items-center justify-center size-12! bg-light" aria-label="Previous"
              (click)="prev()">
              <i-tabler name="arrow-left" class="flex! items-center justify-center"></i-tabler>
            </button>
            <button mat-icon-button class="flex! items-center justify-center size-12! bg-light" aria-label="Next"
              (click)="next()">
              <i-tabler name="arrow-right" class="flex! items-center justify-center"></i-tabler>
            </button>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-6">
        @for (member of visibleTeamMembers(); track member.id){
        <div class="col-span-12 sm:col-span-6 md:col-span-3">
          <mat-card class="cardWithShadow productcard overflow-hidden rounded-sm relative shadow-none! mb-0!">
            <a class="overflow-hidden rounded-sm relative" routerLink="/widgets/cards">
              <img [src]="member.image" alt="imgSrc" class="w-full h-full rounded-sm" mat-card-image />
            </a>
            <mat-card
              class="absolute info-card absolute bottom-[42px] left-1/2 -translate-x-1/2 w-[90%] shadow-[0px_6px_12px_rgba(127,145,156,0.12)] text-center py-4 px-2.5">
              <h3 class="font-semibold mb-2">{{ member.name }}</h3>
              <p class="text-sm my-0 text-muted">{{ member.position }}</p>
            </mat-card>
          </mat-card>
        </div>
        }
      </div>
    </div>
  </div>
</div>