<div class="grid grid-cols-12 gap-6">
  <div class="xl:col-span-8 col-span-12">
    <app-welcome-card></app-welcome-card>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <div class="grid grid-cols-12 gap-6">
      <div class="lg:col-span-6 col-span-12">
        <app-expense></app-expense>
      </div>
      <div class="lg:col-span-6 col-span-12">
        <app-sales></app-sales>
      </div>
    </div>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-user-activity></app-user-activity>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-customer-segmentation></app-customer-segmentation>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <div class="flex flex-col h-full gap-6">
      <div class="grid grid-cols-12 gap-6">
        <div class="lg:col-span-6 col-span-12">
          <app-sales-two></app-sales-two>
        </div>
        <div class="lg:col-span-6 col-span-12">
          <app-growth></app-growth>
        </div>
      </div>
      <app-monthly-earnings-two></app-monthly-earnings-two>
    </div>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-quarterly-stats></app-quarterly-stats>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-weekly-sales></app-weekly-sales>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-payment-gateways></app-payment-gateways>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="xl:col-span-8 col-span-12">
    <app-top-projects></app-top-projects>
  </div>
</div>