@use '../variables' as *;

html .customizerNav {
  border-radius: 0px !important;
  width: 100%;
}

.customizer-button-group {
  .mat-button-toggle-appearance-standard {
    padding: 9px;
    border: 1px solid var(--mat-sys-outline-variant) !important;
    box-shadow: none;
    border-radius: $border-radius;
    transition: all 0.1s ease-in 0s;

    &:hover {
      transform: scale(1.05);
    }

    &.mat-button-toggle-checked {
      background-color: var(--mat-sys-primary-fixed-dim);

      i-tabler.fill-icon {
        color: var(--mat-sys-primary);
        fill: var(--mat-sys-on-primary);
      }
    }
  }

  &.mat-button-toggle-group {
    overflow: unset;
    border-radius: 0;
  }

  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
  &.mat-button-toggle-group-appearance-standard {
    border: 0 !important;
  }
}
