<app-dialog-wrapper dialogTitle="MANAGE_BANK">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-dialog-content class="mat-typography mat-subtitle-2 lh-16">
      <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{
            'NAME' | translate
          }}</mat-label>
        </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input
              matInput
              formControlName="bank_name"
            />
            @if (formControls['bank_name'].touched && formControls['bank_name'].invalid) {
              <mat-hint class="m-b-12 error-msg">
                @if (formControls['bank_name'].errors && formControls['bank_name'].hasError('required')) {
                  <div class="text-error">
                    {{ 'NAME_IS_REQUIRED' | translate }}
                  </div>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{
            'CODE' | translate
          }}</mat-label>
        </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'CODE' | translate }}</mat-label>
            <input
              matInput
              formControlName="code"
            />
            @if (formControls['code'].touched && formControls['code'].invalid) {
              <mat-hint class="m-b-16 error-msg">
                @if (formControls['code'].errors && formControls['code'].hasError('required')) {
                  <div class="text-error">
                    {{ 'CODE_IS_REQUIRED' | translate }}
                  </div>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex align-items-center">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-12">{{
            'STATUS' | translate
          }}</mat-label>
        </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'STATUS' | translate }}</mat-label>
            <mat-select formControlName="is_active">
              <mat-option [value]="true">{{ 'ACTIVE' | translate }}</mat-option>
              <mat-option [value]="false">{{ 'INACTIVE' | translate }}</mat-option>
            </mat-select>
            @if (formControls['is_active'].touched && formControls['is_active'].invalid) {
              <mat-hint class="m-b-16 error-msg">
                @if (formControls['is_active'].errors && formControls['is_active'].hasError('required')) {
                  <div class="text-error">
                    {{ 'STATUS_IS_REQUIRED' | translate }}
                  </div>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>

    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <button mat-button class="b-1 border-error text-error" mat-dialog-close>
        {{ 'CANCEL' | translate }}
      </button>

      <app-submit-button
        [isSubmitting]="isSubmitting"
        [disabled]="form.invalid"
      ></app-submit-button>
    </mat-dialog-actions>
  </form>
</app-dialog-wrapper>


